<%= link_to "Home", root_path %>
<%= link_to "About", about_path %>
<%= link_to "Info", info_path %>
<%= link_to "Email Us", emailus_path %>
<h1>Hello and welcome to my app!</h1>
<p>SignUp <%= link_to "here", "#" %>.</p>
