<!DOCTYPE html>
<html>
<head>
  <title>Load.py!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<!--HERE IS WHERE YOU PASTE THE CODE FROM BOOTSTRAP NAVBAR OR LAYOUT DESIGN-->
<body> 
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "[ Load.py! ]",root_path, class: "navbar-brand" %> <!--MAKES BRAND NAME CLICKABLE TO ROOT_PATH-->
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      </ul> <!--This is the navbar buttons-->    
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "[ Home ]", root_path %></li>
        <li><%= link_to "[ About ]", about_path %></li>
        <li><%= link_to "[ Code ]", code_path %></li>
        <li><%= link_to "[ Login ]", login_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!--HERE IS WHERE YOU PASTE THE CODE FROM BOOTSTRAP NAVBAR OR LAYOUT DESIGN-->

<!--This class container moves the text from STARUP page out of leftside "blank page"-->
	<div class="container">
  		<%= yield %>
	</div>


</body>
</html>
